<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="//search4faces.com/img/favicon/favicon-16x16.png">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<!--	navigator-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!--	navigator-->
<style>

.glyphicon { margin-right:5px; }
.thumbnail {
 margin-bottom: 20px;
 padding: 0px;
 -webkit-border-radius: 0px;
 -moz-border-radius: 0px;
 border-radius: 0px
}

.item.list-group-item {
 float: none;
 width: 100%;
 background-color: #fff;
 margin-bottom: 10px
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
 background: rgb(105,65,152)
}
.item.list-group-item .list-group-image {
 margin-right: 10px
}
.item.list-group-item .thumbnail {
 margin-bottom: 0px
}
.item.list-group-item .caption {
 padding: 9px 9px 0px 9px
}
.item.list-group-item:nth-of-type(odd) {
 background: #eeeeee
}
.item.list-group-item:before, .item.list-group-item:after {
 display: table;
 content: " "
}
.item.list-group-item img {
 float: left
}
.item.list-group-item:after {
 clear: both
}
.list-group-item-text {
 margin: 0 0 11px
}




.block-profile .panel, .block-profile.panel {
 overflow: hidden;
}
.text-white {
color: #fff;
text-shadow: 1px 1px 2px #333;
}
.block-profile {
margin-bottom: 20px;
border-right:0;
border-left: 1px solid #ddd;
}
.container {

 	margin-top: 10px ;

}
.profile-name {
 display: table;
 table-layout: fixed;
 height: 100%;
 width: 100%;
 margin: 0;
}
.profile-name>[class*=col-] {
 display: table-cell;
 float: none;
 table-layout: fixed;
 vertical-align: middle;
}
.profile-images {
 width: 128px!important;
 height: 128px!important;
}
.list-group {
line-height: 1.3;
border-bottom:0
}
.list-group-item {
background: #ECE9E6;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#adadad));
background: -moz-linear-gradient(0% 0% 270deg,#fff, #adadad);
}
.panel-body {
background: #f7f7f7;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bababa));
background: -moz-linear-gradient(0% 0% 270deg,#fff, #bababa);
}

<!--navi-->
.navbar {
 min-height: 80px;
}
.navbar-brand {
 padding: 0 15px;
 height: 80px;
 line-height: 80px;
}
.navbar-toggle {
 /* (80px - button height 34px) / 2 = 23px */
 margin-top: 23px;
 padding: 9px 10px !important;
}
@media (min-width: 768px) {
 .navbar-nav > li > a {
 /* (80px - line-height of 27px) / 2 = 26.5px */
 padding-top: 26.5px;
 padding-bottom: 26.5px;
 line-height: 27px;
 }
}
<!--navi-->
</style>
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static '/cinema/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet" >
	<link  href="{% static '/cinema/bootstrap-fileinput/css/fileinput.min.css' %}"  rel="stylesheet" >
	<link rel="stylesheet" src="{% static '/cinema/css/style.css' %}" >

<link rel="icon" type="image/png" sizes="16x16" href="//search4faces.com/img/favicon/favicon-16x16.png">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Object Detection</title>
</head>
<body>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
 		<div class="navbar-header">
 			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
 			</button>
 			<a class="navbar-brand" href="{% url 'home' %}">
				KIBER SEARCH
			</a>
 		</div>
 		<div id="navbar" class="navbar-collapse collapse">
 			<ul class="nav navbar-nav">
				 <li>
					 <a href="{% url 'search' %}">Поиск похожих фотографий</a>
				 </li>
				 <li>
					 <a href="{% url 'history' %}">История поиска</a>
				 </li>
				<li>
					 <a href="{% url 'photo_detection' %}">Распознование образов на изображениях</a>
				 </li>
				<li>
					 <a href="{% url 'video_detection' %}">Распознование образов на видео</a>
				 </li>
				<li>
					 <a href="{% url 'affiliate_user' %}">Поиск аффилированных пользователей</a>
				 </li>
 			</ul>
		</div>
	</div>
</nav>

 <div class="container">




	<div class="jumbotron">
        <h4><b>Поиск аффилированных пользователей</b></h4>
		<h4>Нахождение видов связей между людьми на основе анализа векторного представления изображения пользователей из социальных сетей <em class="fa fa-vk " title="Вконтакте"></em> и <em class="fa fa-instagram" aria-hidden="true" title="Instagram"></em></h4>
		<h4>Построение социального графа на основе анализа векторного представления изображения</h4>
		<h4></h4>
		<h4><b>Первый вид </b>- на одной фотографии вдвоём</h4>
		<h4><b>Второй вид </b>- фотографии первого пользователя есть в фотографиях второго (лицо встречается в фотках другого)</h4>
		<h4><b>Третий вид </b>- один и тот же человек есть в альбомах у двух выбранных пользователей</h4>
      </div>

	<form class="form-horizontal" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		  <div class="form-group row">
			<label class="col-sm-4 col-form-label">ID страницы в VK Первого человека</label>
			<div class="col-sm-4">
			  <input type="text" class="form-control" id="inputEmail3" id="name1" name="name1" placeholder="Id страницы 1 человека">

			</div>

		  </div>
		  <div class="form-group row">
			<label class="col-sm-4 col-form-label" >ID страницы в VK Второго человека</label>
			<div class="col-sm-4">
			  <input type="text" class="form-control" id="name2" name="name2" placeholder="Id страницы 2 человека">

			</div>



		  </div>

		<div class="custom-control custom-checkbox my-4 mr-sm-2">
				<input type="checkbox" class="custom-control-input" id="svaz1" name="svaz1">
				<label class="custom-control-label" for="svaz1">Связь 1 рода</label>
			</div>
			<div class="custom-control custom-checkbox my-4 mr-sm-2">
			<input type="checkbox" class="custom-control-input" id="svaz2" name="svaz2">
				<label class="custom-control-label" for="svaz2">Связь 2 рода</label>
				</div>
				<div class="custom-control custom-checkbox my-4 mr-sm-2">
			<input type="checkbox" class="custom-control-input" id="svaz3" name="svaz3">
				<label class="custom-control-label" for="svaz3">Связь 3 рода</label>
		</div>

		<input class="btn btn-primary" type="reset" value="Сброс настроек">
		<div class="col-sm-offset col-sm-8">
			<button type="submit" id="submit" class="btn btn-primary">Построение связи</button>

		</div>
</form>






<!--     <h2>{{ left_user_info_dict.name }} {{ left_user_info_dict.surname }}</h2>-->

<!--    {% for person_id, face_path_list in left_cluster_pack.items %}-->
<!--        <h3>{{ person_id }}</h3>-->
<!--            {% for face_path in face_path_list %}-->
<!--                {% load static %}-->
<!--                <img src="{% static face_path %}">-->
<!--            {% endfor %}-->
<!--    {% endfor %}-->

<!--    <h2>{{ right_user_info_dict.name }} {{ right_user_info_dict.surname }}</h2>-->

<!--    {% for person_id, face_path_list in right_cluster_pack.items %}-->
<!--        <h3>{{ person_id }}</h3>-->
<!--            {% for face_path in face_path_list %}-->
<!--                {% load static %}-->
<!--                <img src="{% static face_path %}">-->
<!--            {% endfor %}-->
<!--    {% endfor %}-->

<!--    <h3>First kind</h3>-->
<!--    {% for path_list in kind_dict.first %}-->
<!--        {% for face_path in path_list %}-->
<!--            {% load static %}-->
<!--            <img src="{% static face_path %}">-->
<!--        {% endfor %}-->
<!--    {% endfor %}-->

<!--    <h3>Second kind</h3>-->
<!--    {% for path_list in kind_dict.second %}-->
<!--        <div>-->
<!--        {% for face_path in path_list %}-->
<!--            {% load static %}-->
<!--            <img src="{% static face_path %}">-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--    {% endfor %}-->

<!--    <h3>Third kind</h3>-->
<!--    {% for path_list in kind_dict.third %}-->
<!--        <div>-->
<!--        {% for face_path in path_list %}-->
<!--            {% load static %}-->
<!--            <img src="{% static face_path %}">-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--    {% endfor %}-->


<!-- СЕТКА-->
<!--<div class="well well-sm">-->
<!--  <strong>Вид: </strong>-->
<!--  <div class="btn-group">-->
<!--    <a href="#" id="list" class="btn btn-default btn-sm">-->
<!--      <span class="glyphicon glyphicon-th-list"></span>Список</a>-->
<!--    <a href="#" id="grid" class="btn btn-default btn-sm">-->
<!--      <span class="glyphicon glyphicon-th"></span>Сетка</a>-->
<!--  </div>-->
<!--</div>-->
<!-- СЕТКА-->

<!--	 {% for person_id, face_path_list in left_cluster_pack.items %}-->
<!--        <h3>{{ person_id }}</h3>-->
<!--            {% for face_path in face_path_list %}-->
<!--                {% load static %}-->
<!--                <img src="{% static face_path %}">-->
<!--            {% endfor %}-->
<!--    {% endfor %}-->

	<div class="row list-group">

	</div>

<!--	USER <-->
<!--	 первый пользователь-->
<!--	<div class="form-group row">-->
<!--		<h2 >Первый пользователь - {{ left_user_info_dict.name }} {{ left_user_info_dict.surname }}</h2>-->
<!--	</div>-->
<!--{% for person_id, face_path_list in right_cluster_pack.items %}-->
<!--<div  class="row list-group">-->
<!--&lt;!&ndash;	right_cluster_pack&ndash;&gt;-->
<!--	<h3 class="group inner list-group-item-heading">Группа класстеризованных лиц под ID - {{ person_id }}</h3>-->
<!--	{% for face_path in face_path_list %}-->
<!--						{% load static %}-->
<!--		<div class="item col-xs-2 col-lg-2">-->
<!--			<div class="thumbnail">-->
<!--		<img class="group list-group-image" src="{% static face_path %}">-->
<!--    </div>-->
<!--  </div>-->
<!--	{% endfor %}-->
<!--</div>-->
<!--{% endfor %}-->


<!--&lt;!&ndash;	 Второй пользователь&ndash;&gt;-->
<!--	 <div class="form-group row">-->
<!--		<h2 >Второй пользователь - {{ left_user_info_dict.name }} {{ left_user_info_dict.surname }}</h2>-->
<!--	</div>-->
<!--{% for person_id, face_path_list in left_cluster_pack.items %}-->
<!--<div  class="row list-group">-->

<!--	<h3 class="group inner list-group-item-heading">Группа класстеризованных лиц под ID - {{ person_id }}</h3>-->
<!--	{% for face_path in face_path_list %}-->
<!--						{% load static %}-->
<!--		<div class="item col-xs-2 col-lg-2">-->
<!--			<div class="thumbnail">-->
<!--		<img class="group list-group-image" src="{% static face_path %}">-->
<!--    </div>-->
<!--  </div>-->
<!--	{% endfor %}-->
<!--</div>-->
<!--{% endfor %}-->


	<!--	USER <-->

<!--	 Виды связей по фотографиям-->
	 <div class="form-group row">
		<h2>Виды связей по фотографиям</h2>
	</div>
<!--	Первый вид связи -->

	<div  class="row list-group">
		{% for path_list in kind_dict.first %}
		<h3 class="group inner list-group-item-heading">Первый вид связи </h3>
		{% for face_path in path_list %}
							{% load static %}
			<div class="item col-xs-2 col-lg-2">

				<div class="thumbnail">

			<img class="group list-group-image" src="{% static face_path %}">
		</div>
	  </div>
		{% endfor %}
	</div>
	{% endfor %}



	 <!--	 Второй вид-->
	<div  class="row list-group">
		{% for path_list in kind_dict.second %}
		<h3 class="group inner list-group-item-heading">Второй вид связи </h3>
		{% for face_path in path_list %}
							{% load static %}
			<div class="item col-xs-2 col-lg-2">

				<div class="thumbnail">

			<img class="group list-group-image" src="{% static face_path %}">
		</div>
	  </div>
		{% endfor %}
	</div>
	{% endfor %}

	 <!--	 Третий вид-->
	<div  class="row list-group">
		{% for path_list in kind_dict.third %}
			<h3 class="group inner list-group-item-heading">Третий вид связи </h3>
			{% for face_path in path_list %}
								{% load static %}
				<div class="item col-xs-2 col-lg-2">

					<div class="thumbnail">

				<img class="group list-group-image" src="{% static face_path %}">
			</div>
		  </div>

		{% endfor %}
	</div>
	{% endfor %}





<!--<div id="products" class="row list-group">-->
<!--	<h4 class="group inner list-group-item-heading">52db258a-70f4-4d67-a386-4f8e3ca896e2</h4>-->
<!--  <div class="item col-xs-2 col-lg-3">-->
<!--    <div class="thumbnail">-->
<!--		<h4 class="group inner list-group-item-heading">52db258a-70f4-4d67-a386-4f8e3ca896e2</h4>-->
<!--&lt;!&ndash;      <img class="group list-group-image" src="https://bootstraptema.ru/images/type/400x250.png" alt="1" />&ndash;&gt;-->

<!--		<img class="group list-group-image"  src="{% static wew %}" />-->
<!--&lt;!&ndash;      <div class="caption">&ndash;&gt;-->
<!--&lt;!&ndash;        <h4 class="group inner list-group-item-heading">Товар 1</h4>&ndash;&gt;-->
<!--&lt;!&ndash;        <p class="group inner list-group-item-text">&ndash;&gt;-->
<!--&lt;!&ndash;          Описание товара 1, Описание товара 1, Описание товара 1, Описание товара 1, Описание товара 1, Описание товара 1, Описание товара 1, Описание товара 1, Описание товара 1.&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="lead">$350.000</p>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="btn btn-success" href="#">Заказать</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="item col-xs-2 col-lg-2">-->
<!--    <div class="thumbnail">-->
<!--		<h4 class="group inner list-group-item-heading">52db258a-70f4-4d67-a386-4f8e3ca896e2</h4>-->
<!--      <img class="group list-group-image"  src="{% static wew %}"alt="2" />-->
<!--&lt;!&ndash;      <div class="caption">&ndash;&gt;-->
<!--&lt;!&ndash;        &ndash;&gt;-->
<!--&lt;!&ndash;        <p class="group inner list-group-item-text">&ndash;&gt;-->
<!--&lt;!&ndash;          Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2, Описание товара 2.&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="lead">&ndash;&gt;-->
<!--&lt;!&ndash;              $250.000</p>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="btn btn-success" href="#">Заказать</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="item col-xs-2 col-lg-2">-->
<!--    <div class="thumbnail">-->
<!--		<h4 class="group inner list-group-item-heading">52db258a-70f4-4d67-a386-4f8e3ca896e2</h4>-->
<!--      <img class="group list-group-image"  src="{% static wew %}" alt="3" />-->
<!--&lt;!&ndash;      <div class="caption">&ndash;&gt;-->
<!--&lt;!&ndash;        &ndash;&gt;-->
<!--&lt;!&ndash;        <p class="group inner list-group-item-text">&ndash;&gt;-->
<!--&lt;!&ndash;          Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3, Описание товара 3.&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="lead">&ndash;&gt;-->
<!--&lt;!&ndash;              $150.000</p>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="btn btn-success" href="#">Заказать</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

<!-- <div class="item col-xs-2 col-lg-2">-->
<!--  <div class="thumbnail">-->
<!--	  <h4 class="group inner list-group-item-heading">52db258a-70f4-4d67-a386-4f8e3ca896e2</h4>-->
<!--    <img class="group list-group-image" src="{% static wew %}" alt="4" />-->
<!--&lt;!&ndash;    <div class="caption">&ndash;&gt;-->
<!--&lt;!&ndash;      &ndash;&gt;-->
<!--&lt;!&ndash;      <p class="group inner list-group-item-text">&ndash;&gt;-->
<!--&lt;!&ndash;        Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4, Описание товара 4.&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="lead">&ndash;&gt;-->
<!--&lt;!&ndash;            $200.000</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="btn btn-success" href="#">Заказать</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<!--<div class="item col-xs-2 col-lg-2">-->
<!--  <div class="thumbnail">-->
<!--	  <h4 class="group inner list-group-item-heading">52db258a-70f4-4d67-a386-4f8e3ca896e2</h4>-->
<!--    <img class="group list-group-image"  src="{% static wew %}" alt="5" />-->
<!--&lt;!&ndash;    <div class="caption">&ndash;&gt;-->
<!--&lt;!&ndash;      &ndash;&gt;-->
<!--&lt;!&ndash;      <p class="group inner list-group-item-text">&ndash;&gt;-->
<!--&lt;!&ndash;        Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5, Описание товара 5.&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="lead">&ndash;&gt;-->
<!--&lt;!&ndash;            $320.000</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="btn btn-success" href="#">Заказать</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->



<!--<div class="item col-xs-2 col-lg-2">-->
<!--  <div class="thumbnail">-->
<!--	  <h4 class="group inner list-group-item-heading">52db258a-70f4-4d67-a386-4f8e3ca896e2</h4>-->
<!--    <img class="group list-group-image"  src="{% static wew %}" alt="6" />-->
<!--&lt;!&ndash;    <div class="caption">&ndash;&gt;-->
<!--&lt;!&ndash;      <h4 class="group inner list-group-item-heading">Товар 6</h4>&ndash;&gt;-->
<!--&lt;!&ndash;      <p class="group inner list-group-item-text">&ndash;&gt;-->
<!--&lt;!&ndash;        Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6, Описание товара 6.&ndash;&gt;-->
<!--&lt;!&ndash;      </p>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="lead">&ndash;&gt;-->
<!--&lt;!&ndash;            $21.000</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-xs-12 col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="btn btn-success" href="#">Заказать</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<!--</div>-->

<script>
$(document).ready(function() {
$('#list').click(function(event){event.preventDefault();
$('#products .item').addClass('list-group-item');});
$('#grid').click(function(event){event.preventDefault();
$('#products .item').removeClass('list-group-item');
$('#products .item').addClass('grid-group-item');});
});
</script>


</div>

<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static '/cinema/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
	<script src="{% static '/cinema/bootstrap/js/bootstrap.min.js' %}"></script>

	<script>
$(function(){
	$("#file").fileinput({
		showCaption: false,
		browseLabel: 'Выберите файл...',
		browseClass: 'btn btn-success',
		showUpload: true,

	});
});
	</script>
</body>
</html>